#
STARTCOMPONENT
host 127.0.0.1
type com.tts.MaryTTSComponent
userclasspath .:build:jars/ADEJAR.jar:jars/marytts-server-5.0-jar-with-dependencies.jar:jars/marytts-lang-en-5.0.jar:jars/voice-cmu-slt-hsmm-5.0.jar:jars/voice-cmu-rms-hsmm-5.0.jar:jars/emospeak.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar
javavmargs -Dmary.base=jars/
componentargs -config com/tts/config/tree_direct -g -male
groups test
ENDCOMPONENT
#
STARTCOMPONENT
pause 3000
host 127.0.0.1
type utilities.ui.testing.TestComponent
userclasspath .:build:jars/ADEJAR.jar:jars/marytts-server-5.0-jar-with-dependencies.jar:jars/marytts-lang-en-5.0.jar:jars/voice-cmu-slt-hsmm-5.0.jar:jars/voice-cmu-rms-hsmm-5.0.jar:jars/emospeak.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar
javavmargs
componentargs -comp com.tts.MaryTTSComponent
connecttogroups test2 test
ENDCOMPONENT
#
