#
STARTCOMPONENT
userclasspath jars/ADEJAR.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.adesim.ADESimEnvironmentComponent
host 127.0.0.1
componentargs -cfg com/adesim/config/200BostonReverse.xml -g
ENDCOMPONENT
# 
STARTCOMPONENT
userclasspath jars/ADEJAR.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.adesim.SimPioneerComponent
componentargs -initpose -2.5 0 4.7
host 127.0.0.1
ENDCOMPONENT
#
STARTCOMPONENT
pause 2000
userclasspath jars/ADEJAR.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.motion.MotionComponent
componentargs -deadreck -critical 0.6 -deftv 0.35 -defrv 0.2 -slowtv 0.25 -slowrv 0.2 -tol 0.8 -teps 0.1 
host 127.0.0.1
ENDCOMPONENT
#
STARTCOMPONENT
pause 1500
userclasspath jars/ADEJAR.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.action.GoalManagerPriority
host 127.0.0.1
#componentargs -component com.spex.SpexComponent -component com.interfaces.NLPComponent -component com.motion.MotionComponent -component com.adesim.SimPioneerComponent -dbfilesupp com/action/db/muri-nofunnybusiness.xml -script listen self -- -agentname self
componentargs  -component com.interfaces.NLPComponent -component com.motion.MotionComponent -component com.adesim.SimPioneerComponent -component com.tts.MaryTTSComponent -dbfilesupp com/action/db/muri-nofunnybusiness.xml -script listen self -- -agentname self
ENDCOMPONENT
#
STARTCOMPONENT
userclasspath com/discourse/TL_DL_parser:jars/ADEJAR.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.discourse.TLDLDiscourseComponent
host 127.0.0.1
componentargs -action -actor cbot -dict com/discourse/TL_DL_parser/newautonomy.dict
ENDCOMPONENT
#
STARTCOMPONENT
pause 3000
host 127.0.0.1
# host 192.168.0.165
#startdirectory /home/hrilab/ade-git/ade
type com.sphinx4.Sphinx4Component
#Note: You must change com/sphinx4/config/tom_speechtest.xml's selectmixer setting
#to the appropariate channel. For the wheelchair, that's 4.
javavmargs -mx512m -Djava.library.path=../aiml/ainebot/lib -XX:+UseSerialGC
userclasspath jars/ADEJAR.jar:jars/sphinx4.jar:jars/WSJ_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar
componentargs -s4conf com/sphinx4/config/tom_speechtest.config.xml -disc
javavmargs -Dlog4j.configurationFile=config/logging/tom_testspeech.xml
ENDCOMPONENT
#
STARTCOMPONENT
userclasspath jars/ADEJAR.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.simspeech.SimSpeechProductionComponent
host 127.0.0.1
componentargs -g
ENDCOMPONENT
# 
STARTCOMPONENT
host 127.0.0.1
type com.tts.MaryTTSComponent
userclasspath .:build:jars/ADEJAR.jar:jars/marytts-server-5.0-jar-with-dependencies.jar:jars/marytts-lang-en-5.0.jar:jars/voice-cmu-slt-hsmm-5.0.jar:jars/voice-cmu-rms-hsmm-5.0.jar:jars/emospeak.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar
javavmargs -Dmary.base=jars/
componentargs -male
ENDCOMPONENT
#