STARTCOMPONENT
#host 127.0.0.1
host 127.0.0.1
type com.sphinx4.Sphinx4Component
#Note: You must change com/sphinx4/config/coffee.config.xml's selectmixer setting
#to the appropariate channel. For the wheelchair, that's 4.
userclasspath jars/ADEJAR.jar:jars/sphinx4.jar:jars/WSJ_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/commons-logging-1.1.2.jar
componentargs -s4conf com/sphinx4/config/extended_demo.config.xml
ENDCOMPONENT
#
